source 'https://rubygems.org'
ruby '>= 3.2'

gem 'rails', '~> 7.2'
gem 'puma', '>= 5.0'
{{#hasPostgres}}
gem 'pg', '>= 1.1'
{{/hasPostgres}}
{{#hasMysql}}
gem 'mysql2', '>= 0.5'
{{/hasMysql}}
{{^hasPostgres}}{{^hasMysql}}
gem 'sqlite3', '>= 1.4'
{{/hasMysql}}{{/hasPostgres}}
gem 'bootsnap', require: false
