{
  "name": "{{projectNameSlug}}",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",
    "lint": "eslint"
  },
  "dependencies": {
    "next": "^15.0.0",
    "react": "^19.0.0",
    "react-dom": "^19.0.0"{{#hasPostgres}},
    "pg": "^8.11.5"{{/hasPostgres}}{{#hasMysql}},
    "mysql2": "^3.11.0"{{/hasMysql}}{{#hasRedis}},
    "redis": "^4.7.0"{{/hasRedis}}{{#hasMssql}},
    "mssql": "^11.0.1"{{/hasMssql}}{{#hasMongodb}},
    "mongodb": "^6.9.0"{{/hasMongodb}}{{#hasLucia}},
    "lucia": "^3.2.0",
    "@lucia-auth/adapter-postgresql": "^3.1.2",
    "oslo": "^1.2.0"{{/hasLucia}}{{#hasJwt}},
    "jsonwebtoken": "^9.0.2"{{/hasJwt}}{{#hasNextauth}},
    "next-auth": "^5.0.0-beta.25"{{/hasNextauth}}{{#hasBetterAuth}},
    "better-auth": "^1.2.7"{{#hasSqlite}},
    "better-sqlite3": "^11.3.0"{{/hasSqlite}}{{/hasBetterAuth}}
  },
  "devDependencies": {
    "@types/node": "^20",
    "@types/react": "^19",
    "@types/react-dom": "^19",
    "typescript": "^5"{{#hasPostgres}},
    "@types/pg": "^8.11.6"{{/hasPostgres}}{{#hasJwt}},
    "@types/jsonwebtoken": "^9.0.7"{{/hasJwt}}{{#hasBetterAuth}}{{#hasSqlite}},
    "@types/better-sqlite3": "^7.6.11"{{/hasSqlite}}{{/hasBetterAuth}}
  }
}
