# {{projectName}}

Generated with SkipInit Go Fiber template.

## Getting Started

1. Download dependencies:
   ```bash
   go mod download
   ```
2. Run the application:
   ```bash
   go run main.go
   ```
