import express from 'express'
const app = express()
app.use(express.json())

app.get('/', (_req, res) => {
  res.json({ message: 'Hello from Express. SkipInit template.', project: '{{projectName}}' })
})

app.listen(3000, () => console.log('Running on http://localhost:3000'))
