{
  "Logging": { "LogLevel": { "Default": "Information" } },
  "AllowedHosts": "*"{{#hasPostgres}},
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database={{projectNameSlug}};Username=postgres;Password="
  }{{/hasPostgres}}
}
