{
  "name": "{{projectNameSlug}}",
  "private": true,
  "sideEffects": false,
  "type": "module",
  "scripts": {
    "build": "remix vite:build",
    "dev": "remix vite:dev",
    "start": "remix-serve ./build/server/index.js"
  },
  "dependencies": {
    "@remix-run/node": "^2.15.0",
    "@remix-run/react": "^2.15.0",
    "@remix-run/serve": "^2.15.0",
    "isbot": "^4.0.0",
    "react": "^19.0.0",
    "react-dom": "^19.0.0"{{#hasPostgres}},
    "pg": "^8.11.5"{{/hasPostgres}}{{#hasMysql}},
    "mysql2": "^3.11.0"{{/hasMysql}}{{#hasRedis}},
    "redis": "^4.7.0"{{/hasRedis}}{{#hasMssql}},
    "mssql": "^11.0.1"{{/hasMssql}}{{#hasMongodb}},
    "mongodb": "^6.9.0"{{/hasMongodb}}{{#hasJwt}},
    "jsonwebtoken": "^9.0.2"{{/hasJwt}}{{#hasBetterAuth}},
    "better-auth": "^1.2.7"{{#hasSqlite}},
    "better-sqlite3": "^11.3.0"{{/hasSqlite}}{{/hasBetterAuth}}
  },
  "devDependencies": {
    "@remix-run/dev": "^2.15.0",
    "@types/react": "^19.0.0",
    "@types/react-dom": "^19.0.0",
    "typescript": "^5.0.0",
    "vite": "^5.0.0"{{#hasJwt}},
    "@types/jsonwebtoken": "^9.0.7"{{/hasJwt}}{{#hasBetterAuth}}{{#hasSqlite}},
    "@types/better-sqlite3": "^7.6.11"{{/hasSqlite}}{{/hasBetterAuth}}
  }
}
