services:
  app:
    build: .
    ports:
      - "4000:4000"
{{#hasPostgres}}
    environment:
      DB_HOST: db
    depends_on:
      - db
{{/hasPostgres}}
{{#hasPostgres}}

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: {{projectNameSlug}}_dev
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
{{/hasPostgres}}
